.login-content {
  width: 100%;
  height: 100%;
  position: relative;
}
.login-content .scroll {
  width: 100%;
  height: 100%;
}
.login-content .login-bg {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}
.login-content .login-container {
  position: absolute;
  width: 17.25rem;
  top: 10rem;
  left: 50%;
  margin-left: -8.625rem;
  opacity: 0.82;
  background: #FFFFFF;
  border-radius: 6px;
}
.login-content .login-container .input-item:first-child {
  border-bottom: 1px solid #e5e9eb;
}
.login-content .login-container .input-item {
  margin: 0 auto;
  height: 2.25rem;
  width: 15rem;
  line-height: 2.25rem;
  position: relative;
}
.login-content .login-container .input-item .input {
  height: 100%;
  margin-left: 2.6rem;
}
.login-content .login-container .input-item .input label {
  font-family: PingFangSC-Regular;
  font-size: 0.8rem;
  color: #400F0D;
  height: 100%;
  position: absolute;
  display: block;
  left: 0;
  letter-spacing: 0.31px;
  line-height: 2.2rem;
}
.login-content .login-container .input-item .input input {
  height: 2.2rem;
  line-height: 2.2rem;
  width: 100%;
  display: block;
  font-size: 0.8rem;
  text-indent: 5px;
}
.login-content .login-container .input-item .btn {
  font-family: PingFangSC-Regular;
  font-size: 0.6rem;
  color: #FFFFFF;
  letter-spacing: 0.31px;
  background-image: linear-gradient(-180deg, #F44960 4%, #D5010E 100%);
  border: none;
  border-radius: 100px;
  width: 4.05rem;
  height: 1.1rem;
  line-height: 1.1rem;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -0.55rem;
}
.login-content .confirm-btn {
  width: 17.25rem;
  height: 2.1rem;
  background-image: url("images/get-btn@2x.png");
  background-size: 100% 100%;
  -webkit-background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 15.65rem;
  left: 50%;
  margin-left: -8.625rem;
  border: none;
}
.login-content .see {
  width: 17.25rem;
  position: absolute;
  top: 18.35rem;
  left: 50%;
  margin-left: -8.625rem;
}
.login-content .see p {
  font-family: PingFangSC-Regular;
  font-size: 0.6rem;
  color: #2F2725;
  letter-spacing: 2px;
  text-align: center;
}
.login-content .see :before,
.login-content .see :after {
  border-bottom: 1px solid #979797;
  content: "";
  height: 0px;
  width: 4.2rem;
  margin-top: 0.4rem;
}
.login-content .see :before {
  float: left;
}
.login-content .see :after {
  float: right;
}
.login-content .show-box {
  width: 17.25rem;
  height: 11.7rem;
  overflow: hidden;
  position: absolute;
  top: 19.85rem;
  left: 50%;
  margin-left: -8.625rem;
  background-color: #c8dce7;
  border-radius: 5px;
}
.login-content .show-box .anim {
  transition: all 0.5s;
  margin-top: -30px;
}
.login-content .show-box ul li {
  list-style: none;
  height: 1.95rem;
  line-height: 1.95rem;
  font-family: PingFangSC-Regular;
  font-size: 0.7rem;
  color: #370302;
  text-align: center;
  letter-spacing: 1px;
}
